@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

body{
    /*overflow-x: hidden;
    overflow-y: hidden;*/
}

main > section{
    font-family: "Ubuntu", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

.bg {
    background-color: #E4E4D0;
    position: absolute;
    /* make bg image overflow x and y boundaries to eliminate vignette effect from blur */
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #9EB384;
}

.container-fluid{
    position: absolute;
    height: 60px;
    background-color: #E4E4D0;
    top: 5%;
}

#logo{
    position: absolute;
    width: 80px;
    height: 50px;
    left: 5%;
}

.navbar-nav{
    right: 20%;
    position: absolute;
}

#navbar-nav>a{
    font-size: 20px;
    color: #94A696;
    margin-left: 10%;
}

#home{
    position: absolute;
    top: 8%;
    width: 1536px;
    height: 680px;
}

.home_pag_paragraph{
    z-index: 20;
    width: 750px;
    height: 311px;
    text-align: right;
    position: absolute;
    right: 10%;
}

.home_pag_paragraph>h1{
    font-size:64px;
    font-family: 'Luxurious Roman', cursive;
    font-weight: bold;
    color: #c7f9cc;
}

.home_pag_paragraph>div{
    width: 710px;
    margin-top: 50px;
}

.home_pag_paragraph>div>p{
    font-size: 29px;
    color: white;
    font-family: 'Lao Muang Don', cursive;
    font-weight: lighter;
}

.home_pag_paragraph>button{
    margin-top: 50px;
    margin-right: 40px;
    background-color: #9EB384;
}

